<footer class="site-footer">

  <div class="wrapper">
    <div class="sponsers">
    <img src="/img/llb_logo.png" alt="" />
    <img src="/img/eucult.png" alt="" />
    </div>
    <div class="info">
    Naoto Hieda 2016<br />
    <a class="phase" href="http://tangiblechoreography.org">tangiblechoreography.org</a><br />
    <a class="phase" href="http://naotohieda.com">naotohieda.com</a><br />
    <a class="phase" href="mailto:mail@naotohieda.com">mail@naotohieda.com</a>
    </div>

  </div>

</footer>
